## Tuesday 
Time : 8 AM - 5 PM

### Lession 12 2-dimensional list 
#### Main keyword :
1,2-dimensional list ,2-dimensional index , Nested loop , Jagged list

![alt text](images/Lession%2012/12.1%20Mission.png)

![alt text](images/Lession%2012/12.2%20Flowchart%201.png)

![alt text](images/Lession%2012/12.2%20Flowchart%202.png)

#### 1.Creating a 2-dimensional list 
##### 1.1 Example of a 2D list structure with 3 rows and 3 columns
A two -dimensional list is a structure what groups 1-dimensioanl lists together.<br>
To create  2-dimensional list, you need to create lists within a list

In [3]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]

In [4]:
list_array = [[1,2,3],
              [4,5,6],
              [7,8,9]]

In [5]:
#access the refers to the first list
list_array[0]

[1, 2, 3]

##### 1.2 Crating a 3x2 2D list using a for loop

In [7]:
list1= []
for i in range(3):
    line =[]
    for j in range(2):
        line.append(0)
    list1.append(line)
print(list1)

[[0, 0], [0, 0], [0, 0]]

##### 1.3 Crating a 2D list in One Line Expression

In [8]:
list_array = [[0] * 2 for i in range(3)]
print(list_array)

[[0, 0], [0, 0], [0, 0]]

![alt text](images/Lession%2012/12.1.3.1.png)

![alt text](images/Lession%2012/12.1.3.2.png)

In [10]:
list_array = [[0 for j in range(2)]for i in range(3)]
print(list_array)

[[0, 0], [0, 0], [0, 0]]

#### 2.Accessing elements of a 2D list
##### 2.1 Indexing for elements access

In [16]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]
list_array[0]

[1, 2, 3]

In [17]:
list_array[0][2]

3

![alt text](images/Lession%2012/12.2.1.png)

In [18]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]

In [19]:
list_array[0][0]

1

In [20]:
list_array[2][2]

9

In [23]:
# assign the value 300 to the vertical index (row) 1 and the horizontal index (column)1
list_array[1][1] = 300

In [24]:
print(list_array[1][1])

300

#### 3.Printing elements of a 2D list
##### 3.1 Using a for Statement to Print a 2D list

In [26]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]
for item in list_array :
    print('item =', item)

item = [1, 2, 3]
item = [4, 5, 6]
item = [7, 8, 9]

In [28]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]
for i,j,k in list_array :
    print(f"""
        i = {i}
        j = {j}
        k = {k}
    """)

        i = 1
        j = 2
        k = 3


        i = 4
        j = 5
        k = 6


        i = 7
        j = 8
        k = 9

##### 3.2 2D Lists and ValueError

In [33]:
list_array = [[1,2,3],[4,5,6],[7]]
for i,j,k in list_array :
    print(f"""
        i = {i}
        j = {j}
        k = {k}
    """)

        i = 1
        j = 2
        k = 3


        i = 4
        j = 5
        k = 6

ValueError: not enough values to unpack (expected 3, got 1)

##### 3.3 Printing  a 2D Lists using te Nested loop 'for' statment

In [32]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]
for item in list_array :
    for j in item:
        print(j,end =' ')
    print()

1 2 3
4 5 6
7 8 9

In [38]:
list_array = [[1,2,3],[4,5,6],[7]]
for i in list_array :
    for j in i :
        print (j, end = ' ')
    print()

1 2 3
4 5 6
7

![alt text](images/Lession%2012/12.3.3.png)

##### 3.4 Output using index

In [42]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(list_array)):
    for j in range(len(list_array[i])):
        print(list_array[i][j], end =' ')
    print()

1 2 3
4 5 6
7 8 9

In [43]:
list_array = [[1,2,3],[4,5,6],[7]]
for i in range(len(list_array)):##### 3.4 Output using index
    for j in range(len(list_array[i])):
        print(list_array[i][j], end =' ')
    print()

1 2 3
4 5 6
7

##### 3.5 Printing a 2D list using a while statment

In [45]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]
i = 0
while i < len(list_array): #(Explain The while statement repeats as manay time as the number of inner 
    # lists in list_array)
    a,b,c = list_array[i] #(a,b,c are assignd the items of list_array[i],so if i is 0, they will be assigned 1,2,3 respectively)
    print(a,b,c)
    i += 1

1 2 3
4 5 6
7 8 9

#### 4. Assignment of a 2D list
##### 4.1 Reference vs Copy

In [46]:
list_array = [[1,2,3],[4,5,6],[7,8,9]]
list1 = list_array
print(list1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
list1[0][0] = 90 
print(list_array) 
print(list1)

[[90, 2, 3], [4, 5, 6], [7, 8, 9]]
[[90, 2, 3], [4, 5, 6], [7, 8, 9]]

![alt text](images/Lession%2012/4.1.png)

In [50]:
import copy #import modul copy 
list_array = [[1,2,3],[4,5,6],[7,8,9]] #create 2D list
list1 = copy.deepcopy(list_array)#using deepcopy function to copy the list_array and assign it to List1 
list1 [0][0] = 90 # change value of row 1 column 1 in the list 1 (form 5 to 90)
print(list_array) # print the element of list_array
print(list_array is list1) # using the boolen expression function "IS" to the list_array is list 1 (or the list_array has the same element as list 1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
False

#### 5. Creating a jagaed list
##### 5.1 Code example of a jagged list

In [52]:
list1 =[1,2,3,4,5] # the width (number of items in the inner lists) of jagged list is stored in list1
list2 = [] #The jagged list to created is list2, and empty list
for i in list1 : # assign i to each item in list 1
    line = []
    for j in range(i):# 6-7 
        line.append(j)# in the inner loop, a ranges ssequence generated with i is appenden to the 'line'
        # list using the append method
    list2.append(line)#in the outer 
print(list2)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

![alt text](images/Lession%2012/12.5.1.png)

In [54]:
list = [[0],
        [0,1],
        [0,1,2],
        [0,1,2,3],
        [0,1,2,3,4]]
print(list2)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

##### 5.2 Example code for creating a jagged list using the nested loop for statment

![alt text](images/Lession%2012/12.5.2.png)

In [56]:
list1=[1,2,3,4,5]
list2=[]
for i in list1:
    line = []
    for j in range(i):
        line.append(j)
        print(j,end=' ')
    list2.append(line)
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

##### 5.3 Example code for creating a jagged list using the nessted for loop and randint method

![alt text](images/Lession%2012/12.5.3.png)

In [61]:
import random 
list1 = [1,2,3,4,5]
list2 = []
for i in list1:
    line = []
    for j in range(i):
        line.append(random.randint(1,100))
    list2.append(line)
    
for i in list2:
    for j in i :
        print(j,end =' ')
    print()

16
58 64
61 50 98
5 95 35 95
19 67 100 1 15

##### 5.4 Example code for creating a jagged list using a one-liner expression

In [63]:
list1 =[[0] * i for i in [1,2,3,4,5]]
print(list1)

[[0], [0, 0], [0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [65]:
# creating a jagged list using a nests for loop
for i in list1:
    for j in i :
        print(j,end=' ')
    print()

0
0 0
0 0 0
0 0 0 0
0 0 0 0 0

In [66]:
#add  new items to the jagged list 
list1 = [[10 * i]*i for i in [1,2,3,4,5]]
print(list1)

[[10], [20, 20], [30, 30, 30], [40, 40, 40, 40], [50, 50, 50, 50, 50]]

In [67]:
list1[0].append(99)
list1[1].append(77)
print(list1)

[[10, 99], [20, 20, 77], [30, 30, 30], [40, 40, 40, 40], [50, 50, 50, 50, 50]]

#### Paper Code

![alt text](images/Lession%2012/Paper%20code%20Q1.png)

In [95]:
list_array = [[10,20],[30,40],[50,60]]
list_array[1][0]

30

![alt text](images/Lession%2012/Paper%20code%20Q2.png)

In [100]:
list_array = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
for item in list_array :
    for j in item:
        print(j,end='')
    print()

1234
5678
9101112
13141516

#### Let code

![alt text](images/Lession%2012/Mission.png)

In [77]:
import random #import the random module

seat = [] # create an empty list vairable class seat tor store 3 rows and 6 columns of seats
#Create a nested loop (or double loop) using a for statement for the 3 row and 6 columns
for i in range(3): 
    line = [] #create an empty to store the seats of each row, 
    for j in range(6):
        rand = random.randrange(0,2) # assign random numbers of 1 and 0 to the rand variabe
        line.append(rand) #append the random number to the end of the line list 
    seat.append(line) #append the line list to the end of the 'seat 'list
available = 0 # set the value of the avaiable which will store the otal number of remaing seats avaible to 0 
#Create nestd loop to print thestatus ofthe 'seat 'list
for i in range(3):
    for j in range(6):
        print(seat[i][j],'',end='')
        if seat[i][j] == 0: #to check if the value of i-th row and j-th column in the seat list is 0
            available += 1 #if the seat is empty (value is 0), increment the available variable by 1
    print() # print in a 3 rows and 6 columns format

print("The number of seats left in the movie theater :",available)

1 0 0 1 0 1
0 0 1 1 0 0
0 0 1 0 0 0
The number of seats left in the movie theater : 12

#### Pair Programming

In [83]:
#Q5
list_array = [[10 * i] * i for i in range(1,4)]
num = 0
for item in list_array:
    for k in item:
        num += k
print(num)

140

In [84]:
#Test 2
list_array = [i for i in range(5) if i % 2 == 0]
num = 0
for item in list_array:
    num += item
    
print(num)

6

In [85]:
#Test 1
list_array = [i** 2 for i in range(5)]
num = 0
for item in list_array:
    num += item
    
print(num)

30

In [87]:
#Test 3
list_array = [[2] * 2 for i in range(3)]
num = 0
for item in list_array:
    for j in item:
        num += j  
print(num)

12

In [88]:
#Test 4
list_array = [[3 for i in range(3)] for j in range(3)]
num = 0
for item in list_array:
    for k in item:
        num += k
    
print(num)

27