### Date 03 / 02 / 2024
#  2. Variables and Data Types Operators
## Learning Objective
1. Learners understand the various data types and can perform operations using data types and operators.
2. Learners can perform addition, subtraction, multiplication, division, and exponentiation operations using Python. They also understand and can use advanced features to calculate quotients and remainders in Python division.
3. Learners can use operator precedence to express mathematical expression. 
4. Learners understand the concept of variables, comprehend the behavior of assignment operators, and can use variables.
5. Learners explore the concept and types of shorthand operators and can perform cumulative operations using variables. 

### Concepts you will need to know from <FONT color ='yellow'>previous units</FONT>
- Section 01 : <FONT color ='yellow'>Sequential Programming Plan</FONT> 
    - How to use Jupyter Notebook
    - Hot to use the print statement 
### Main Keywords :
1. String data type
2. Numeric data type
3. bool data type
4. Variables
5. Naming Conventions 
6. Assignment operators
7. Arithmetic operators
8. Shorthand  operators
9. Comments

### 1. Real word problem
#### 1.1 Solving Earth's Climate Crisis with Python

![alt text](images/Lession%202/2.1.1.png)
![alt text](images/Lession%202/2.1.1.1.png)

#### 1.2 Python's Significant Contribution to Black Hole Shadow Observation

![alt text](images/Lession%202/2.1.2.png)
![alt text](images/Lession%202/2.1.2.1.png)

#### 1.3 Observing the Shadow of a Black Hole

![alt text](images/Lession%202/2.1.3.png)
![alt text](images/Lession%202/2.1.3.1.png)

#### 1.4 Formulas for the Circumference and Area of a Circle

![alt text](images/Lession%202/2.1.4.png)
![alt text](images/Lession%202/2.1.4.1.png)

### 2. Solution
#### 2.1 Printing the Circumference and Area of a Circle

* Create a variable for the radius of the circle.

* Use operators to calculate the circumference and area of the circle.

* Output the calculated circumference and area of the circle on the screen.

### 3. Mission
#### 3.1 Printing the Circumference and Area of a Circle Operation Process

![alt text](images/Lession%202/2.3.1.png)

#### 3.2 Programming plan

![alt text](images/Lession%202/2.3.2.png)
![alt text](images/Lession%202/2.3.2.1.png)

# Key concept
### 1.1 String and Number Data Type 
* Earlier, we printed a number and a string enclosed in quotation marks using the print statement.

In [ ]:
print("The radius of a circle", 4.0)

The radius of a circle 4.0

* Number data type consist of numbers, including integer(0,1,2,etc.), and floating-point number with decimal places(0.1,0.12,etc). they are referred to <FONT color ="lightblue">numeric types 'or' number data types</FONT>.

* Numeric types cam perform calculations such as addition, subtraction,multiplication and division. 

* Word or sentences are in the form of a sequence of characters.

* They must be enclosed in a single or double quotation mark to indicate to the computer where to start and end reading.

* The data type enclosed in quotation marks is called a <FONT color ="lightblue">string data type</FONT>. and is commonly referred to as a <FONT color ="lightblue">string</FONT>.

### 1.2 Number Data Types and Operators 

* It is common in programming to perform operations using numerical information and then utilize this data.
> example : Information like a person's height and weight is represented by numerical values such as 177cm and 58kg.

* In python, numerical data is represented using numbers.
* Various mathematical operators are available for numerical data.
> example : We can perform the addition operators between the numbers 100 and 20 using 100 + 20.

* Let's learn the terminology for operations. The data value or variable that is the subject of the operation is called an operand.

* The entity performing the operation is called an operator. Let's consider the example of the operation "100 + 200".

![alt text](images/Lession%202/100%20+%20200.png)

* The following table describes Python's operators and their functions.

![alt text](images/Lession%202/Pyhon's%20operators.png)
![alt text](images/Lession%202/Pyhon's%20operators%201.png)

* You can perform operation on numerical data using numeric data types and operation such as  +, -, *, /, //, %, **.d

In [ ]:
# Example of 100 + 200 
100 + 200

300

In [ ]:
100 + 200 # add

300

In [ ]:
100 * 20 # multip

2000

In [ ]:
100 - 20 # sub

80

In [ ]:
100 / 20 # divide

5.0

In [ ]:
100 // 20 # Divide numerical value (integer division)

5

In [ ]:
100 % 20 # Modulus

0

### 1.3 Order of Operator Execution 

* When addition and multiplication operators appear in the same statement, multiplication take precedence over addition.

In [ ]:
10 + 20 * 30

610

* if parentheses appear in a statement, <FONT color = 'yellow'>the operators inside the parentheses are executed firs </FONT>.

* The oder of operator precedence affects the results of the calculation with in the statement.

In [ ]:
(10 + 20) * 30

900

### 1. 4 Distinguishing Data Type

* Distinguishing between data types in crucial in Python.
* Although characters and numbers can have the same form, they can have very different characteristics.
> Example The number 10 can be used in arithmetic operations, but the string'10' cannot.

* The behavior of operators differs based on the data types in python.

1.4 Formulas for the circumference and area of circle <br>
    Circumference = 2 PI * radius <br>
    Area = PI * radius^ 2 <br>

In [ ]:
PI = 3.14 
radiust = float(input("Enter number of radiust"))
circum = 2*PI * radiust
area = PI * radiust * radiust
print(f"The total of circum = {circum}")
print(f"The total of area: {area}")

The total of circum = 43.96
The total of area: 153.86

* The result of multiplication operation (*) between the number 100 and 2 is 200

In [ ]:
100 * 2

200

* However, the result of the multiplication operation (*) between the string '100' and number 2 is '100100', and the result of the multiplication operation(*)between the string 'Hello' and the number 2 is 'HelloHello'

In [ ]:
'Hello ' * 2

'Hello Hello '

In [ ]:
'100' * 2

'100100'

* The behavior of operators differs based on the data type in Python.

In [ ]:
100 + 2

:

In [ ]:
'100' + '2'

:

In [ ]:
'Hello ' + 'Hello!'

:

Check Data type <br>
using type function()

In [ ]:
type(100)

int

In [ ]:
type(10.0)

float

In [ ]:
type('string')

str

## One step furter

In [ ]:
type(10)

int

In [ ]:
print(type(10))

<class 'int'>

## 1.6 Data type Conversion

In [ ]:
int('10') / 2  #Convert string '10' into integer and divide by 2

5.0

In [ ]:
"i like number " + str(10) # convert number 10 into string and using + operator

'i like number 10'

### 2. Variable <br>
2.1 what is a variable <br>
variables are the key concept in programming. <br>
variables are used to sotre value within a computer

In [ ]:
print("The radius of a circel", 4.0)
print("the area of circle", 3.14 * 4.0 * 4.0)
print("the area of circumference of circle", 3.14 * 2 * 4.0)

The radius of a circel 4.0
the area of circle 50.24
the area of circumference of circle 25.12

In [ ]:
radius = 4.0
print("The radius of a circel", radius)
print("the area of circle", 3.14 * radius * radius)
print("the area of circumference of circle", 3.14 * 2 * radius)

The radius of a circel 4.0
the area of circle 50.24
the area of circumference of circle 25.12

2.2 Defining variable

In [ ]:
weight = 78.7
weight

78.7

one setp futer

In [ ]:
num = 85 
print(type(num))

pi =3.14 
print(type(pi))

message ="Good morning"
print(type(message))

<class 'int'>
<class 'float'>
<class 'str'>

2.3 Naming Conventions <br>
to check Python's keywords

In [ ]:
import keyword
print("Python keyword list")
print(keyword.kwlist)

Python keyword list
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

2.4 Multiple Assignment

In [ ]:
number1 = number2 = number3 = 200 
print(number1,number2,number3)

200 200 200

2.5 simultaneous Assignment

In [ ]:
x , y = 100, 200
result = x + y
print(result)

300

use None keyword if the data type is not determined

In [ ]:
a = None 
type(a)

NoneType

Shorthand Operators

In [ ]:
result = 100 
result = result + 200
print(result)

300

In [ ]:
result = 100
result += 200
print(result)

300

3.2 Python's Swap

In [ ]:
a = 100 
b = 200 
print('before swap: ',a ,'and',b)
a , b = b,a 
print("Swap result using tuple : a =", a , 'b =', b)

before swap:  100 and 200
Swap result using tuple : a = 200 b = 100

4.1 Command single line and multiple line

In [ ]:
# define variable name for radius of circle as ' radius'
radius = 4.0
#Output the radius of a circle 
print("The radius of a circle :",radius)
#Output the area of a circle 
#apply the formula for calculating the area of a circle 
print("the area of a circle ", 3.14 * radius * radius)
#output the circum of a circle 
#apply the formula for calculating the area of a circle 
print('The circum of a circle :', 2 * 3.14 * radius)

The radius of a circle : 4.0
the area of a circle  50.24
The circum of a circle : 25.12

In [ ]:
a = 10 
b = [1,2,3]

In [ ]:
a = 10 
b = [1 ,2 ,3 ]

In [ ]:
# define variable name for radius of circle as ' radius'
radius = 4.0
#Output the radius of a circle 
print("The radius of a circle :", radius)
#Output the area of a circle 
#apply the formula for calculating the area of a circle 
print("the area of a circle \ ", 3.14 * radius * radius)
#output the circum of a circle 
#apply the formula for calculating the area of a circle 
print('The circum of a circle :', 2 * 3.14 * radius)

The radius of a circle : 4.0
the area of a circle \  50.24
The circum of a circle : 25.12

### Coding papaer 
Q1 Use the int statment to add the string "50" and number 50 to output 100 <br>
Use the str output the 5050

In [ ]:
int("50") + 50

100

In [ ]:
"50" + str(50)

'5050'

Q2 You have one instance of the character'1' and three instances of the character '0'. Use these to create the number 1000

In [ ]:
a = '1' + '0' +'0'+'0'
a

'1000'

In [ ]:
int(a)

1000

### Misson
print the circumference and area of a circle <br>
<br>
1 Create a variable with the radius of the circle <br>
2 Use operators to calculate the circumrence and area of the circle <br>
3 print the calcuate circumference and area of the circle on the screen <br>

In [ ]:
# Setp one 
# Create a variable with the radius of the circle 
radius = 4
# Create a variable PI 
PI = 3.14
# Setp two
#Calculate the area of a circle (foumal : area = PI * radius^2)
area = PI * radius * radius
#calculate the circumference of a circle (foumal : circumferenc = 2 * PI * radius)
circumferenc = 2 * PI * radius
# setp Three
#print these output 
print("The area of the circle :", area )
print("The circum of circle :", circumferenc)

The area of the circle : 50.24
The circum of circle : 25.12

### Let code
#### Q1 
The factorial of n, denoted as n! is defined as n * (n-1) * (n-2) *...* 2 * 1.<br>
Using integers and the * opeartor, caulate 5! and 10! and output them as follows <br>

In [ ]:
# Calculate the factorial of 5!

factorial_of_five = 5 * 4 * 3 * 2 * 1
print(f"5! = {factorial_of_five}")

# Calculate the factorial of 10!
factorial_of_ten = 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 *1 
print(f"10! = {factorial_of_ten}")

5! = 120
10! = 3628800

In [ ]:
#Exam 2
a = 30 
a %= 4 
a **=2 
a //=3

In [ ]:
print(a)

1

In [ ]:
a = 2
b = 2
c = (a ** 2 + b ** 2)
result = c ** 2 
print(result)

64