### Date 03 / 02 / 2024
#  2. Variables and Data Types Operators

1.1 String and Number Data Type <br>

In [ ]:
print("The radius of a circle", 4.0)

The radius of a circle 4.0

1.4 Formulas for the circumference and area of circle <br>
    Circumference = 2 PI * radius <br>
    Area = PI * radius^ 2 <br>

In [ ]:
PI = 3.14 
radiust = float(input("Enter number of radiust"))
circum = 2*PI * radiust
area = PI * radiust * radiust
print(f"The total of circum = {circum}")
print(f"The total of area: {area}")

The total of circum = 43.96
The total of area: 153.86

1.2 Number data type and Operators

![Sample Image](images/Python%20Arithmetic%20opeators.png)

Perform and operation using numerical data types

In [ ]:
# Example of 100 + 200 
100 + 200

300

In [ ]:
100 + 200 # add

300

In [ ]:
100 * 20 # multip

2000

In [ ]:
100 - 20 # sub

80

In [ ]:
100 / 20 # divide

5.0

In [ ]:
100 // 20 # Divide numerical value (integer division)

5

In [ ]:
100 % 20 # Modulus

0

### 1.3 Order of Operator Execution

In [ ]:
10 + 20 * 30

610

In [ ]:
(10 + 20) * 30

900

### 1. 4 Distinguishing Data Type

In [ ]:
100 * 2

200

In [ ]:
'Hello ' * 2

'Hello Hello '

In [ ]:
'100' * 2

'100100'

Check Data type <br>
using type function()

In [ ]:
type(100)

int

In [ ]:
type(10.0)

float

In [ ]:
type('string')

str

## One step furter

In [ ]:
type(10)

int

In [ ]:
print(type(10))

<class 'int'>

## 1.6 Data type Conversion

In [ ]:
int('10') / 2  #Convert string '10' into integer and divide by 2

5.0

In [ ]:
"i like number " + str(10) # convert number 10 into string and using + operator

'i like number 10'

### 2. Variable <br>
2.1 what is a variable <br>
variables are the key concept in programming. <br>
variables are used to sotre value within a computer

In [ ]:
print("The radius of a circel", 4.0)
print("the area of circle", 3.14 * 4.0 * 4.0)
print("the area of circumference of circle", 3.14 * 2 * 4.0)

The radius of a circel 4.0
the area of circle 50.24
the area of circumference of circle 25.12

In [ ]:
radius = 4.0
print("The radius of a circel", radius)
print("the area of circle", 3.14 * radius * radius)
print("the area of circumference of circle", 3.14 * 2 * radius)

The radius of a circel 4.0
the area of circle 50.24
the area of circumference of circle 25.12

2.2 Defining variable

In [ ]:
weight = 78.7
weight

78.7

one setp futer

In [ ]:
num = 85 
print(type(num))

pi =3.14 
print(type(pi))

message ="Good morning"
print(type(message))

<class 'int'>
<class 'float'>
<class 'str'>

2.3 Naming Conventions <br>
to check Python's keywords

In [ ]:
import keyword
print("Python keyword list")
print(keyword.kwlist)

Python keyword list
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

2.4 Multiple Assignment

In [ ]:
number1 = number2 = number3 = 200 
print(number1,number2,number3)

200 200 200

2.5 simultaneous Assignment

In [ ]:
x , y = 100, 200
result = x + y
print(result)

300

use None keyword if the data type is not determined

In [ ]:
a = None 
type(a)

NoneType

Shorthand Operators

In [ ]:
result = 100 
result = result + 200
print(result)

300

In [ ]:
result = 100
result += 200
print(result)

300

3.2 Python's Swap

In [ ]:
a = 100 
b = 200 
print('before swap: ',a ,'and',b)
a , b = b,a 
print("Swap result using tuple : a =", a , 'b =', b)

before swap:  100 and 200
Swap result using tuple : a = 200 b = 100

4.1 Command single line and multiple line

In [ ]:
# define variable name for radius of circle as ' radius'
radius = 4.0
#Output the radius of a circle 
print("The radius of a circle :",radius)
#Output the area of a circle 
#apply the formula for calculating the area of a circle 
print("the area of a circle ", 3.14 * radius * radius)
#output the circum of a circle 
#apply the formula for calculating the area of a circle 
print('The circum of a circle :', 2 * 3.14 * radius)

The radius of a circle : 4.0
the area of a circle  50.24
The circum of a circle : 25.12

In [ ]:
a = 10 
b = [1,2,3]

In [ ]:
a = 10 
b = [1 ,2 ,3 ]

In [ ]:
# define variable name for radius of circle as ' radius'
radius = 4.0
#Output the radius of a circle 
print("The radius of a circle :", radius)
#Output the area of a circle 
#apply the formula for calculating the area of a circle 
print("the area of a circle \ ", 3.14 * radius * radius)
#output the circum of a circle 
#apply the formula for calculating the area of a circle 
print('The circum of a circle :', 2 * 3.14 * radius)

The radius of a circle : 4.0
the area of a circle \  50.24
The circum of a circle : 25.12

### Coding papaer 
Q1 Use the int statment to add the string "50" and number 50 to output 100 <br>
Use the str output the 5050

In [ ]:
int("50") + 50

100

In [ ]:
"50" + str(50)

'5050'

Q2 You have one instance of the character'1' and three instances of the character '0'. Use these to create the number 1000

In [ ]:
a = '1' + '0' +'0'+'0'
a

'1000'

In [ ]:
int(a)

1000

### Misson
print the circumference and area of a circle <br>
<br>
1 Create a variable with the radius of the circle <br>
2 Use operators to calculate the circumrence and area of the circle <br>
3 print the calcuate circumference and area of the circle on the screen <br>

In [ ]:
# Setp one 
# Create a variable with the radius of the circle 
radius = 4
# Create a variable PI 
PI = 3.14
# Setp two
#Calculate the area of a circle (foumal : area = PI * radius^2)
area = PI * radius * radius
#calculate the circumference of a circle (foumal : circumferenc = 2 * PI * radius)
circumferenc = 2 * PI * radius
# setp Three
#print these output 
print("The area of the circle :", area )
print("The circum of circle :", circumferenc)

The area of the circle : 50.24
The circum of circle : 25.12

### Let code
#### Q1 
The factorial of n, denoted as n! is defined as n * (n-1) * (n-2) *...* 2 * 1.<br>
Using integers and the * opeartor, caulate 5! and 10! and output them as follows <br>

In [ ]:
# Calculate the factorial of 5!

factorial_of_five = 5 * 4 * 3 * 2 * 1
print(f"5! = {factorial_of_five}")

# Calculate the factorial of 10!
factorial_of_ten = 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 *1 
print(f"10! = {factorial_of_ten}")

5! = 120
10! = 3628800

In [ ]:
#Exam 2
a = 30 
a %= 4 
a **=2 
a //=3

In [ ]:
print(a)

1

In [ ]:
a = 2
b = 2
c = (a ** 2 + b ** 2)
result = c ** 2 
print(result)

64