# 23. Basics of Pandas Series for the Data Process
## Learning Objective
1. Learners can install the lastes version of the Pandas library in the current virtual enviromnet.
2. Learners understand the two Data structures of Pandas, Seires, and DataFrame.
3. Learners can create Pandas Series from lists and dictionaries.
4. Learners can select specific data elemetns and perform arithmetic operation in Pandas Series
5. Learners can differentiate the nature of data and draw appropriate grapsh.
### Concepts you will need to know from <FONT color ='yellow'>previous units</FONT>
- Section 07: List Data Type:
    - Usage of list
- Section 11: Dictionary Data Type:
    - Usage of dictionary
### Main Keywords
- Pandas
- Series 
- DataFrame
- Matplot
- Line graph
- Bar graph
### Mission
#### 1.Population Density
![alt text](images/Lession%2023/Population%20Density.png)
![alt text](images/Lession%2023/Population%20Density%201.png)
![alt text](images/Lession%2023/Population%20Density%202.png)
![alt text](images/Lession%2023/Analysis%20data%20as%20follow.png)
![alt text](images/Lession%2023/Datascoure.png)

In [1]:
population_2020 = {'Tokyo': 37339804,
                   'Delhi': 31181376,
                   'Shanghai': 27795702,
                   'Sao Paulo': 22237472,
                   'Mexicon City': 21918936,
                   'Dhaka': 21741090,
                   'Cairo': 21322750,
                   'Karachi': 16459472,
                   'Istanbul': 15415197,
                   'Buenos Aires': 15257673,
                   'Kinshasa': 14970460,
                   'Lagos':14862111,
                   'Manila': 14158573,
                   'Rio de Janeiro': 13544462,
                   'Moscow': 12593252,
                   'Bogota': 11167392,
                   'Paris': 11078546,
                   'Jakarta': 10915364,
                   'Lima': 10882757}

![alt text](images/Lession%2023/Data%20scoure%201.png)

In [2]:
population_2021 = {'Tokyo': 37393128,
                   'Delhi': 30290936,
                   'Shanghai': 27058480,
                   'Sao Paulo': 22237472,
                   'Mexicon City': 21918936,
                   'Dhaka': 21741090,
                   'Cairo': 21322750,
                   'Karachi': 16459472,
                   'Istanbul': 15415197,
                   'Buenos Aires': 15257673,
                   'Kinshasa': 14342439,
                   'Lagos':14368332,
                   'Manila': 13923452,
                   'Rio de Janeiro': 13458075,
                   'Moscow': 12537954,
                   'Bogota': 10978360,
                   'Paris': 11017230,
                   'Jakarta': 10770487,
                   'Lima': 10719188}

![alt text](images/Lession%2023/city'.png)

In [3]:
city_are = {
    'Tokyo': 2194,
    'Delhi': 1484,
    'Shanghai': 6340,
    'Sao Paulo': 1521,
    'Mexicon City': 1485,
    'Dhaka': 306.4,
    'Cairo': 3085,
    'Karachi': 3780,
    'Istanbul': 5343,
    'Buenos Aires': 203,
    'Kinshasa': 9965,
    'Lagos':1171,
    'Manila': 42.88,
    'Rio de Janeiro': 1255,
    'Moscow': 2511,
    'Bogota': 1775,
    'Paris': 105.4,
    'Jakarta': 661.5,
    'Lima': 2672
}

#### Population Density Operation Process 
![alt text](images/Lession%2023/Process%201%20.png)
![alt text](images/Lession%2023/Process%202.png)
![alt text](images/Lession%2023/Process%203.png)
![alt text](images/Lession%2023/Process%204.png)

### Programming Plan
![alt text](images/Lession%2023/Programming%20plan.png)
![alt text](images/Lession%2023/Programming%20plan%201.png)

## Keyconcepts

### 1. Introduction to Pandas
![alt text](images/Lession%2023/Introduction%20to%20Pandas.png)
![alt text](images/Lession%2023/Introduction%20to%20Pandas%201.png)
![alt text](images/Lession%2023/Introduction%20to%20Pandas%202.png)

### 2. What is the appropriate use of Pandas?
![alt text](images/Lession%2023/What%20is%20the%20appropriate%20use%20of%20Pandas.png)
![alt text](images/Lession%2023/What%20is%20the%20appropriate%20use%20of%20Pandas%201.png)
![alt text](images/Lession%2023/What%20is%20the%20appropriate%20use%20of%20Pandas%202.png)
![alt text](images/Lession%2023/What%20is%20the%20appropriate%20use%20of%20Pandas%203.png)

### 3. Pandas have two type of data structures.
![alt text](images/Lession%2023/structure%20of%20pandas%20.png)
![alt text](images/Lession%2023/structure%20of%20pandas%20%201.png)
![alt text](images/Lession%2023/structure%20of%20pandas%20%202.png)

### 4. Installing the Pandas library 
![alt text](images/Lession%2023/Installing%20the%20Pandas%20library%20.png)
![alt text](images/Lession%2023/Installing%20the%20Pandas%20library%20%201.png)
![alt text](images/Lession%2023/Installing%20the%20Pandas%20library%202.png)
![alt text](images/Lession%2023/Installing%20the%20Pandas%20library%203.png)

In [4]:
import pandas as pd 
pd.__version__

'2.0.3'

![alt](images/Lession%2023/Installing%20the%20Pandas%20library%204.png)
* You can use the sys module in Python to find the location as follows

In [5]:
import sys
sys.path

['/Users/anbschool0022/Downloads/Above-and-beyond/Python',
 '/Users/anbschool0022/anaconda3/envs/python_work/lib/python38.zip',
 '/Users/anbschool0022/anaconda3/envs/python_work/lib/python3.8',
 '/Users/anbschool0022/anaconda3/envs/python_work/lib/python3.8/lib-dynload',
 '',
 '/Users/anbschool0022/anaconda3/envs/python_work/lib/python3.8/site-packages']

![alt text](images/Lession%2023/Installing%20the%20Pandas%20library%205.png)
![alt text](images/Lession%2023/Installing%20the%20Pandas%20library%206.png)

### 5. Optional dependencies 
![alt text](images/Lession%2023/Optional%20dependencies%20.png)
![alt text](images/Lession%2023/Optional%20dependencies%201.png)
![alt text](images/Lession%2023/Optional%20dependencies%202.png)

### 6.Series 
* Series is the fundamental data structure in Pandas.

In [6]:
import pandas as pd 
s = pd.Series([1,2,3,4,5])

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

![alt text](images/Lession%2023/Explain%20series.png)

### 7. Creating a Series 
![alt text](images/Lession%2023/Creating%20a%20Series%20.png)
#### 7.1 Create a Series from Python lists or dictionaries
> Pandas.Series(list or dictionary)

In [7]:
#Create a Series from List 
import pandas as pd

marvel = ['Iron Man','Captain Americe','Thor','Winter Soldier','Ultron','Ant-Man','Spider-Man']

s = pd.Series(marvel)

print(s)

0           Iron Man
1    Captain Americe
2               Thor
3     Winter Soldier
4             Ultron
5            Ant-Man
6         Spider-Man
dtype: object

In [8]:
#Create a Series from dictionary 
import pandas as pd

marvel = {'Iron Man':2010,'Captain Americe':2021,'Thor':2013,'Winter Soldier':2014,'Ultron':2015}

s = pd.Series(marvel)

print(s)

s.index

Iron Man           2010
Captain Americe    2021
Thor               2013
Winter Soldier     2014
Ultron             2015
dtype: int64

Index(['Iron Man', 'Captain Americe', 'Thor', 'Winter Soldier', 'Ultron'], dtype='object')

![alt text](images/Lession%2023/Explain%20series%202.png)

#### 7.2 Creating a Series from arrays generated by NumPy
* Series objects can be initialized using various NumPy functions.
* Let's create a Series using some function and methods that generate arrays.

In [10]:
import pandas as pd 
import numpy as np

np.random.seed(0)
r = np.random.random(size= 6) # Generates 6 random number for a normal distribution and stores 
                              # them in the variable 'r'.

s = pd.Series(r) # Convert the arrays generated by NumPy into a Series object.

print(s)

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
5    0.645894
dtype: float64

#### 7.3 Creating using values
* A Series object can be initialized using values.
* Create a simple Series object with only one data.

In [11]:
import pandas as pd 
import numpy as np

s = pd.Series(4)

print(s)

0    4
dtype: int64

![alt text](images/Lession%2023/Creating%20using%20values.png)

In [13]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index=['q',1,'cat','d','dog'])
print(s)

q      1
1      2
cat    3
d      4
dog    5
dtype: int64

In [14]:
import pandas as pd 
dates = pd.date_range('2021 -01-01','2021-01-07')

print(dates)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07'],
              dtype='datetime64[ns]', freq='D')

In [15]:

import pandas as pd

marvel = ['Iron Man','Captain Americe','Thor','Winter Soldier','Ultron','Ant-Man','Spider-Man']

s = pd.Series(marvel, index= dates)

print(s)

2021-01-01           Iron Man
2021-01-02    Captain Americe
2021-01-03               Thor
2021-01-04     Winter Soldier
2021-01-05             Ultron
2021-01-06            Ant-Man
2021-01-07         Spider-Man
Freq: D, dtype: object

### 8. Selecting Specific Data (Elements) from a Series 
* As explained earlier, there are two types of index.
    - The default integer index, which is automatically generated starting from 0 when noting is specifed, and the index name,also know as index label, which can be specifically assigned.


<FONT color ='lightblue'>Series composed of non-integer index names</FONT>

In [16]:
import pandas as pd 

s = ['element1','element2','element3','element4','element5']
pd.Series(s, index =('a','b','c','d','e'))

a    element1
b    element2
c    element3
d    element4
e    element5
dtype: object

<FONT color ='lightblue'>Series with an integer index starting from 0</FONT>

In [17]:
s = ['element1','element2','element3','element4','element5']
pd.Series(s)

0    element1
1    element2
2    element3
3    element4
4    element5
dtype: object

* Series_name.index: You can view the entire index values of the corresponding Series data.

* Series_name.value: You can view the entire element value of corresponding Series data

In [19]:
import pandas as pd 

marvel = ['Iron Man','Captain Americe','Thor','Winter Soldier','Ultron','Ant-Man','Spider-Man']
s = pd.Series(marvel) # Convert a list into a Series object to prepare the practice data.

In [20]:
s.index # by using the index attribute, you can view only the index values that the Series has.

RangeIndex(start=0, stop=7, step=1)

In [22]:
s.values # By using the values attribute, you can view all the data elements that the series has.

array(['Iron Man', 'Captain Americe', 'Thor', 'Winter Soldier', 'Ultron',
       'Ant-Man', 'Spider-Man'], dtype=object)

In [ ]:
#### 8.1 Selecting Series Elements