# 23.Basics of Pandas Dataframe for the Data Process
## Learning Objective
1. Learners can describe the structure of a two-dimensional data structure based on the dataframe when presented with it.
2. Learners can convet a dictionary into a dataframe.
3. Learners can change the name of rows, columns, and index in a dataframe.
4. Learners can load external file formats such as csv, Excel, and json to create a dataframe.
5. Learners can load dataset from an API and create a dataframe.
6. Learners can edit the information of rows and columns for the generated dataframe.
### Concepts you will need to know from <FONT color ='yellow'>previous units</FONT>
- Section 23 :<FONT color ='yellow'>Basics of Pandas Series for the Data Process</FONT>
    - Usage of Pandas 
    - Usage of Matplotlib
### Main keywords
- DataFrame
- Pandas I/O
- Rows of a Data Frame
- Colcumns of a DataFrame 
- Datareader API
- Data elements of a DataFrame

## Mission
### 1.Streaming Pop Song Data Analysis
![alt text](images/Lession%2024/Streaming%20Pop%20Song%20Data%20Analysis.png)
### 3. Programming Plan
![alt text](images/Lession%2024/Programming%20plan.png)
![alt text](images/Lession%2024/Programming%20plan%201.png)

## Key concept
### 1.DataFrame
![alt text](images/Lession%2024/Data%20frame%201.png)
![alt text](images/Lession%2024/Data%20frame%202.png)
![alt text](images/Lession%2024/Data%20frame%203.png)
![alt text](images/Lession%2024/Data%20frame%204.png)
### 2.Creating a DataFrame
![alt text](images/Lession%2024/Creating%20a%20DataFrame%201.png)
#### 2.1 Creating a DataFrame
![alt text](images/Lession%2024/Creating%20a%20DataFrame%202.png)

In [2]:
import pandas as pd
data = {'col_1':[3,2,1,0], 'col_2':['a','b','c','d']}
pd.DataFrame(data) # Convert the dictionary named 'data' into a DataFame.

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [5]:
import pandas as pd
s1 = pd.Series([1.0,2.0,3.0], index=["a","b","c"]) # save the series object as 's1'
s2 = pd.Series([1.0,2.0,3.0,4.0], index=["a","b","c","d"]) # save the series object as 's2'

data = {'One':s1, 'Two':s2} # Load the two series and assign the key names as 'one' and 'two'

pd.DataFrame(data) # When printing the DataFrame, the key names from the loaded dictionary become the column names.
# 'NaN' occurs because the number of elements in the data dones not match when loading two series.

   One  Two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

#### 2.2 Setting the Names of Rows (Index) and Columns 
![alt text](images/Lession%2024/Setting%20the%20Names%20of%20Rows%20(Index)%20and%20Columns%20.png)
![alt text](images/Lession%2024/Setting%20the%20Names%20of%20Rows%20(Index)%20and%20Columns%201.png)

In [6]:
import pandas as pd 
d = {'col1':[1,2],'col2':[3,4]}
df = pd.DataFrame(data = d) # Create a DataFrame object named 'df' by assigning a dictionary.
print(df)

df.index = ["new_index0", "new_index1"] # Change new index name 
print(df) # Check the result of the index  change.

df.columns = ["new_col1","new_col2"] # Change new column name.
print(df)

   col1  col2
0     1     3
1     2     4
            col1  col2
new_index0     1     3
new_index1     2     4
            new_col1  new_col2
new_index0         1         3
new_index1         2         4

![alt text](images/Lession%2024/Setting%20the%20Names%20of%20Rows%20(Index)%20and%20Columns%202.png)

In [7]:
import pandas as pd 
d = {'col1':[1,2],'col2':[3,4]}
df = pd.DataFrame(data = d) # Create a DataFrame object named 'df' by assigning a dictionary.
print(df)

df.rename(index = {0 : "New index0"}) # change index 0 to a new name newx index0

   col1  col2
0     1     3
1     2     4

            col1  col2
New index0     1     3
1              2     4

In [8]:
import pandas as pd 
d = {'col1':[1,2],'col2':[3,4]}
df = pd.DataFrame(data = d)
df.rename(index = {0 : "new index0"}, inplace= True)
df.rename(columns= {"col2":"new col2"})
df

            col1  col2
new index0     1     3
1              2     4

![alt text](images/Lession%2024/One%20more%20step.png)

In [9]:
import pandas as pd 
s1 = pd.Series([1.0,2.0,3.0], index=["a","b","c"])
s2 = pd.Series([1.0,2.0,3.0,4.0], index=["a","b","c","d"])

dic_data = {"one":s1 , "two":s2}
pd.DataFrame.from_dict(dic_data, orient= 'columns')

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [10]:
pd.DataFrame.from_dict(dic_data, orient= 'index')

       a    b    c    d
one  1.0  2.0  3.0  NaN
two  1.0  2.0  3.0  4.0

In [11]:
data = {'row_1': [3,2,1,0],'row_2': ['a','b','c','d']}
pd.DataFrame.from_dict(data, orient= 'index', columns=['A','B','C','D'])

       A  B  C  D
row_1  3  2  1  0
row_2  a  b  c  d

### 3. Converting Various Data Ojbects to DataFrame
#### 3.1 The pandas I/O API
![alt text](images/Lession%2024/The%20pandas%20I_O%20API.png)
![alt text](images/Lession%2024/The%20pandas%20I_O%20API%201.png)
#### 3.2 File Paths
![alt text](images/Lession%2024/File%20Paths.png)