## Thursday : 15 feb 2024
Time : 7:AM - 10:AM complete the let code and Pair programming at Lession 14

### Lession 15 Set Data Type and Iterable Data Type

#### Programming Plan
![alt text](images/Lession%2015/Programming%20plan.png)
#### Flow chart 1 of Mission Lession 15
![alt text](images/Lession%2015/Flow%20char%201.png)
#### Flow chart  2 of Mission Lession 15
![alt text](images/Lession%2015/Flow%20char%202.png)

#### 1. Iterable data types and iterator 
##### 1.1 Iterator operation behind the scenes after loops 
![alt text](images/Lession%2015/15.1.1.png)

##### 1.2 Checking if it's an iterable data type

In [6]:
# is numbirc is an iterable data type?
n = 100
n_iter = iter(n)

TypeError: 'int' object is not iterable

In [1]:
#Let add exception handling to the previouse code 
try:
    n = 100
    iterator = iter(n)
except TypeError:
    print("Number is no iterable data type")
else:
    print('Number is iterable data type')

Number is no iterable data type

In [4]:
#Is a string and iterable data type?
try:
    s = "Hello"
    iterator = iter(s)
except TypeError:
    print("String is no iterable data type")
else:
    print('String is iterable data type')

String is iterable data type

##### 1.3 Built-int functions that take iterable data types as parameters
<li> Python iterabl data type can be used with various built-in functions 
<li> function like min and max which take iterable data types as arguments and return the minimun and maximun value <br>
advanced built-in function such as all,any,ascii,bool,filter,and iter are provided

<li> The (all) function return True only if all the elements in the iterable are true
<li> if there is a (0 , ' ', None value inside) it returns False

In [5]:
l1 = [1,2,3,4]
l2 = [0,2,3,4]
l3 = [0,0,0,0]

In [6]:
all(l1)

True

In [7]:
all(l2)

False

In [8]:
all(l3)

False

<li> The (any function) returns True if at least one element in the iterables in true

In [9]:
l1 = [1,2,3,4]
l2 = [0,2,3,4]
l3 = [0,0,0,0]

In [10]:
any(l1)

True

In [11]:
any(l2)

True

In [12]:
any(l3)

False

##### 1.4 The iter function and the next function
![alt text](images/Lession%2015/15.1.4.png)

In [13]:
iter_a = iter([10,20,30])
next(iter_a)

10

In [14]:
next(iter_a)

20

In [15]:
a = [10,20,30]
next(a)

TypeError: 'list' object is not an iterator

In [8]:
lst =[10,20,30]
l_iter = iter(lst) #convert lst list to the iterator call l_iter
type(l_iter) #check the type

list_iterator

In [9]:
next(l_iter)

10

In [10]:
next(l_iter)

20

In [11]:
next(l_iter)

30

In [12]:
next(l_iter)

StopIteration:

<li> The range_iterator allows access to multiple items of this data type through the next function

In [21]:
type(range(3))

range

In [23]:
r_iter = iter(range(3))
type(r_iter)

range_iterator

In [24]:
next(r_iter)

0

In [25]:
next(r_iter)

1

In [26]:
next(r_iter)

2

##### 1.5 Stoplteration exception
![alt text](images/Lession%2015/15.1.5.png)

In [29]:
next(r_iter)

StopIteration:

##### 1.6 Converting an iterator , which can only read values once into an iterable data type
![alt text](images/Lession%2015/15.1.6.png)

In [31]:
iter1 =iter([10,20,30])
print(iter1)
print(list(iter1))
print(tuple(iter1))

<list_iterator object at 0x10c082280>
[10, 20, 30]
()

In [33]:
iter1 =iter([10,20,30])
print(iter1)
print(tuple(iter1))

<list_iterator object at 0x107d143a0>
(10, 20, 30)

#### 2. Set
##### 2.1 Set , collection of unordered objects 
![alt text](images/Lession%2015/15.2.png)

##### 2.2 Defining a set 
![alt text](images/Lession%2015/15.2.2.png)
the Set is a collection of unordered elements,indexing cannot be used

In [35]:
#create a empty set 
number = set()
number

set()

In [36]:
days_list =['Mon','Tue','Wed','Thu','Fri','Sta','Sun']
days_set = set(days_list)
days_set

{'Fri', 'Mon', 'Sta', 'Sun', 'Thu', 'Tue', 'Wed'}

In [37]:
fruits_tuple = ('apple','orange','water melon')
fruits_set = set(fruits_tuple)
fruits_set

{'apple', 'orange', 'water melon'}

In [39]:
#create a set from list
set([1,2,3,1,2])
#if there are duplicate elements they are automatically removed

{1, 2, 3}

In [41]:
#create a set from string 
set("abcdefa")
#In this case ,each character become a single eleme

{'a', 'b', 'c', 'd', 'e', 'f'}

![alt text](images/Lession%2015/15.2.2(1).png)

In [42]:
hello_string = 'Hello'
hello_string = set(hello_string)
hello_string

{'H', 'e', 'l', 'o'}

##### 2.3 Memebership operators for searching specific elements : in , not in 
Tot check if an item is in the set , user the 'in 'operator

In [43]:
number = {2,1,3}
if 1 in number :
    print("There is a 1 in the set")

There is a 1 in the set

In [44]:
number = {2,1,3}
if 7 not in number :
    print("There is no a 7 in the set")

There is no a 7 in the set

#### 2.4 Difference between a set and a sequence data type 
![alt text](images/Lession%2015/15.2.4.png)

<li> You can add a signle element to a set using add method.

In [49]:
number = {1,2,3}
number.add(4)
number

{1, 2, 3, 4}

<li> When removing element from a set , you can use the remove method

In [50]:

number.remove(4)
number

{1, 2, 3}

##### 2.5 Accessing sets using loops with iterable data type

In [51]:
numbers = {2,1,3}
for x in number:
    print(x,end=" ")

1 2 3

##### 2.6 Sorting with the sorted function
![alt text](images/Lession%2015/15.2.6.png)

In [52]:
number = {2,1,3}
for x in sorted(number):
    print(x,end=" ")

1 2 3

The sorted function returns a list data tpye so the set data type is converted to a list

In [53]:
number = sorted(number)
number

[1, 2, 3]

##### 2.7 Creating sets using one-iner loop expression 
![alt text](images/Lession%2015/15.2.7.png)

In [54]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

![alt text](images/Lession%2015/15.2.7(1).png)

##### 2.8 Creating sets using one-lin expression with loops and conditions

In [56]:
a ={i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

##### 2.9 Built-in functions that take a set as a parameter

In [57]:
a_set = {1,5,4,3,7,4}
len(a_set)

5

In [58]:
max(a_set)

7

In [59]:
min(a_set)

1

In [60]:
sorted(a_set)

[1, 3, 4, 5, 7]

In [61]:
sum(a_set)

20

<li>There are logical functions , such as all and any that can be applied to data with multiple items
<li> These function evaluate the boolean alue of each item in the given data as arguments and return an overall result

In [62]:
a_set = {1,0,2,3,3}
all(a_set) , any(a_set)

(False, True)

#### 3. Set operator and method
##### 3.1 Set operator 
![alt text](images/Lession%2015/15.3.1.png)

##### 3.2 Union uses the | operator or the unio method 
![alt text](images/Lession%2015/15.3.2.png)

##### 3.3 Intersection operator or the unio method


![alt text](images/Lession%2015/15.3.3.png)

##### 3.4 Differenc operator and method 
![alt text](images/Lession%2015/15.3.4.png)

##### 3.5 Symmetric difference operator and method 
![alt text](images/Lession%2015/15.3.5.png)

##### 3.6 Set operator practice

In [63]:
s1 ={1,2,3,4,5,6}

In [64]:
s2 ={4,5,6,7,8,9}

In [65]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [66]:
s1 & s2

{4, 5, 6}

In [67]:
s1 - s2

{1, 2, 3}

In [68]:
s1 ^ s2

{1, 2, 3, 7, 8, 9}

##### 3.7 Set method practice 
![alt text](images/Lession%2015/15.3.7.png)

In [69]:
s1.difference(s2)

{1, 2, 3}

In [70]:
s1.symmetric_difference(s2)

{1, 2, 3, 7, 8, 9}

##### 3.8 Using sequential operators 
![alt text](images/Lession%2015/15.3.8.png)

In [73]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {4,5,6,9,10,11}

In [74]:
s1 & s2 & s3

{4, 5, 6}

In [75]:
s1 - s2 -s3

{1, 2, 3}

##### 3.9 Various methods of sets 
![alt text](images/Lession%2015/15.3.9.png)


![alt text](images/Lession%2015/15.3.9.1.png)

##### 3.10 Subet method and superset method 
![alt text](images/Lession%2015/15.3.10.png)

In [80]:
s1 = {1,2,3,4,5,6}
s2 = {1,2,3}
s3 = {1,2,6}

In [81]:
s2.issubset(s1)

True

In [82]:
s3.issubset(s2)

False

In [83]:
s1.issuperset(s2)

True

In [84]:
s1.issuperset(s3)

True

![alt text](images/Lession%2015/15.3.10.1.png)

##### 3.11 Disjoint method

In [85]:
s1 = {1,2,3}
s2 ={10,20,30}
s1.isdisjoint(s2)

True

##### 3.12 Cartesian product or cartesian multiplication example
![alt text](images/Lession%2015/15.3.12.png)

In [87]:
A = {2,3}
B = {2,4}
rest = set()
for i in A:
    for j in B:
        rest = rest | {(i,j)}
AxB = rest 
print('A=',A)
print('B=',B)
print('AxB=', AxB)

A= {2, 3}
B= {2, 4}
AxB= {(2, 4), (3, 2), (3, 4), (2, 2)}

##### 3.13 Set and comparison operator

In [17]:
A = {4,5,6,7,8,9}
B ={6,7,8,9}
B < A

True

![alt text](images/Lession%2015/15.3.13.png)

##### 3.14 eample of finding divisors and greatest common divisor of two numbers

In [89]:
num = 10
divisors = []
for i in range(2,num):
    if num % i == 0:
        divisors.append(i)
    
print(f'proper divisor of {num} : {divisors}')

proper divisor of 10 : [2, 5]

In [91]:
num1 = 48
divisors = set()
for i in range(2,num1):
    if num1 % i == 0:
        divisors.add(i)
    
print(f'proper divisor of {num1} : {divisors}')

num2 = 60
divisors2 = set()
for i in range(2,num2):
    if num2 % i == 0:
        divisors2.add(i)
    
print(f'proper divisor of {num2} : {divisors2}')

proper divisor of 48 : {2, 3, 4, 6, 8, 12, 16, 24}
proper divisor of 60 : {2, 3, 4, 5, 6, 10, 12, 15, 20, 30}

In [95]:
print(divisors.intersection(divisors2)) #find the intersection of elements in sets A and B
print('The comon factor of ',num1,num2,':',max(divisors.intersection(divisors2))) # using the max function to output the largest value.
# The greatest common divisor of 40 and 60 is 12

{2, 3, 4, 6, 12}
The comon factor of  48 60 : 12

#### 4.Aggregation using the zip function 
##### 4.1 iterable data types as parameters of the zip function
![alt text](images/Lession%2015/15.4.1.png)

In [96]:
a = [10 , 20, 30]
b = ('ten','twenty','thiry')
for val in zip(a,b):
    print(val)

(10, 'ten')
(20, 'twenty')
(30, 'thiry')

![alt text](images/Lession%2015/15.4.2.png)

In [98]:
str_list =['hello','world','python','rocks'] #create string list
int_tuple = (1,2,3)# Create tuple 
int_list = [400,500,600,700,800]#create list

my_iterator = zip(str_list, int_tuple, int_list) #zip the element of string_list ,int_tuple _ int_list
list(my_iterator) #convert form zip data to list data and pint it

[('hello', 1, 400), ('world', 2, 500), ('python', 3, 600)]

![alt text](images/Lession%2015/15.4.3.png)

##### 4.3 Precautions when using the zip function
![alt text](images/Lession%2015/15.4.4.png)

##### 4.4 Using zip and tuple unpacking
![alt text](images/Lession%2015/15.4.5.png)

In [99]:
zip_lst = list(zip(str_list, int_tuple, int_list))
a,b,c, = zip(* zip_lst)
print (a,b ,c)

('hello', 'world', 'python') (1, 2, 3) (400, 500, 600)

#### Paper code 
![alt text](images/Lession%2015/Q1.png)

In [105]:
#create a List containing inforamtion about 3 frits 
lst = ['apple','mango','banana']
# A set created from lst 
s1 = set(lst)
#print(s1)
s1

{'apple', 'banana', 'mango'}

![alt text](images/Lession%2015/Q2.png)

In [2]:
s1 ={10,20,30,40}
s2 = {30,4,50,60,70}

print( s1 | s2)
print( s1 & s2)
print( s1 - s2)
print( s1 ^ s2)
print( s1.issubset (s2))
print( s1.issuperset(s2))
print( s1.isdisjoint(s2))

{4, 70, 40, 10, 50, 20, 60, 30}
{30}
{40, 10, 20}
{50, 4, 20, 70, 40, 10, 60}
False
False
False

##### Pair programming 
![alt text](images/Lession%2015/Pair%20Programming.png)

In [4]:
#Variable conditions 
my_list =[(1,2),(4,5),(4,2)(3,1),(9,4)]
#user input 
user_input_intFirst,user_input_intSecond  = input("Enter tow integer : ").split()
#convert string to integer 
user_input_intFirst = int(user_input_intFirst)
user_input_intSecond = int(user_input_intSecond)
index = 0 
#using for loop to check each element in the list 
for tuple_list in len(my_list):
    first_element,second_element = my_list[tuple_list]
    if user_input_intFirst == first_element and user_input_intSecond == second_element:
        print(f"There is ({user_input_intFirst},{second_element} elemetn at the {index}) posstion")
    index +=1

<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
/var/folders/qp/p7sg41695ns_zp5tnxm5t2br0000gn/T/ipykernel_608/4143049795.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  my_list =[(1,2),(4,5),(4,2)(3,1),(9,4)]
/var/folders/qp/p7sg41695ns_zp5tnxm5t2br0000gn/T/ipykernel_608/4143049795.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  my_list =[(1,2),(4,5),(4,2)(3,1),(9,4)]
/var/folders/qp/p7sg41695ns_zp5tnxm5t2br0000gn/T/ipykernel_608/4143049795.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  my_list =[(1,2),(4,5),(4,2)(3,1),(9,4)]

TypeError: 'tuple' object is not callable

ValueError: invalid literal for int() with base 10: '1 2'

### End of Lession 15 16/Feb/2024

In [13]:
a_set ={4,5,6}
b_set ={4,5,6}
c_set ={6}
d_set = a_set & b_set & c_set

for n in d_set:
    print(n)

6