## Thursday : 08 / 02 / 2024
Time : 8AM - 5PM

### Lession 7 : List Data type 
#### 1.List
##### 1.1 Efficient data processing 
<b> One of the important purposes of using a computer is to process data efficiently</b>

In [3]:
score0 = 87
score1 = 84
score2 = 95
score3 = 67
score4 = 88
print(score0,score3)

87 67

##### 1.2 Importance of the list data type

![alt text](images/Lession%207/1.2.png)

#### 1.3 What is a list
A <b>list</b> is a data structure that can hold individual values togeter.
<ul>
<li>It is more convenient and effcient than writingand managing multiple variable names</li>
<li>It can be copied and manipulated all at once</li>
</ul>
<br>
A <b>item</b> or <b>element</b>
<ul>
<li>The individual data that make up the list is called item  or element</li>
<li>They are data values separated by commas when store</li>
</ul>

In [5]:
score_list =[87,84,95,67,88,94,63]
score_list

[87, 84, 95, 67, 88, 94, 63]

![alt text](images/Lession%207/1.3%20index%20vs%20indexing.png)

In [6]:
print(score_list[0], score_list[3])

87 67

#### 2.Defining a list 
##### 2.1 Empty list

In [7]:
bts = ['V','Jungkook','Jimin']

In [8]:
bts=[]

What is the use of an empty list with no items
<li>In an empty list,items can be added through code</li>
<li>we canot predict how many items will be in the list. in such cases an empty list is usefull</li>

In [9]:
bts = []
bts.append("V")
bts

['V']

##### 2.2 Data types in a list

In [10]:
mixed_list =[100, 200, 'apple', 400]
print(mixed_list)

[100, 200, 'apple', 400]

##### 2.3 Creating a list using the range function to generate a seqquence of numbers

In [11]:
list4 =list(range(1,10))
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 3. List indexing 
##### 3.1 Indexing and length of a list

In [12]:
n_list =[11,22,33,44,55,66]
print(n_list)
print(len(n_list))

[11, 22, 33, 44, 55, 66]
6

the accessible range in indexing is from 0 to 5

In [13]:
n_list[0]

11

In [14]:
n_list[1]

22

In [15]:
n_list[2]

33

In [16]:
n_list[3]

44

In [17]:
n_list[4]

55

In [18]:
n_list[5]

66

##### 3.2 Caution in list indexing

In [20]:
n_list =[11,22,33,44,55,66]
n_list[5]

66

In [21]:
n_list[6]

IndexError: list index out of range

##### 3.3 Negative index

In [23]:
n_list =[11,22,33,44,55,66]
n_list[-1]

66

In [24]:
n_list[-2]

55

In [25]:
n_list[-3]

44

In [26]:
n_list[-4]

33

In [27]:
n_list[-5]

22

In [28]:
n_list[-6]

11

In [29]:
n_list[-7]

IndexError: list index out of range

##### 3.4 Glossary of python terms :list ,index,indexing

![alt text](images/Lession%207/3.4.png)

#### 4.List slicing
##### 4.1 Slicing

![alt text](images/Lession%207/4.1.png)

##### 4.2 Slicing Example: When both the staring and ending indexes are speified

In [31]:
a_list =[10,20,30,40,50,60,70,80]
a_list[1:5]

[20, 30, 40, 50]

##### 4.3 Slicing Example: When the staring index is omitted

In [32]:
a_list[:5]

[10, 20, 30, 40, 50]

##### 4.4 Slicing Example: When the ending index is omitted

In [33]:
a_list[1:]

[20, 30, 40, 50, 60, 70, 80]

##### 4.5 Slicing Example: When the staring and ending indexs are omitted

In [34]:
a_list[:]

[10, 20, 30, 40, 50, 60, 70, 80]

##### 4.6 Slicing Example: Slicing a list with negative index

In [35]:
a_list[-7:-2]

[20, 30, 40, 50, 60]

##### 4.7 Slicing Example: Omitting the last index in negative index

In [36]:
a_list[-7:]

[20, 30, 40, 50, 60, 70, 80]

##### 4.8 Slicing Example: Omitting the first index in negative index

In [37]:
a_list[:-2]

[10, 20, 30, 40, 50, 60]

##### 4.9 Slicing syntax

![alt text](images/Lession%207/4.9.png)

![alt text](images/Lession%207/4.9%20(1).png)

#### 5.List and Operators
##### 5.1 Concatenating ists using the + operator 
The + operator can be used to concatenate two list

In [38]:
person1 =['Daivd Doe',20 , 1, 180.0 , 100.0]
person2 =['John Smith',25 ,1 ,170.0, 70]

person_list = person1 + person2
print(person_list)

['Daivd Doe', 20, 1, 180.0, 100.0, 'John Smith', 25, 1, 170.0, 70]

##### 5.2 The 'in' Operator for Checking valuesin a List

In [40]:
a_list = [10,20,30,40]
10 in a_list

True

In [41]:
50 in a_list

False

In [42]:
10 not in a_list

False

In [43]:
50 not in a_list

True

#### 6.List methods
##### 6.1 The append method for adding items to a List

In [45]:
a_list =['a','b','c','d','e']
a_list.append('f')
a_list

['a', 'b', 'c', 'd', 'e', 'f']

In [46]:
n_list =[10,20,30,40]
n_list.append(50)
n_list

[10, 20, 30, 40, 50]

##### 6.2 The extend method for adding items to a List

In [47]:
list1= ['a','b,','c']
list2=[1,2,3]
list1.extend(list2)
list1

['a', 'b,', 'c', 1, 2, 3]

In [48]:
list1.extend('d')
list1

['a', 'b,', 'c', 1, 2, 3, 'd']

##### 6.3 Difference between append and extend Function

![alt text](images/Lession%207/6.3.png)

In [50]:
list1=[11,22,33,44]
list1.append([55,66])
list1

[11, 22, 33, 44, [55, 66]]

In [51]:
list1=[11,22,33,44]
list1.extend([55,66])
list1

[11, 22, 33, 44, 55, 66]

##### 6.4 The insert Method for Adding items to a List

In [52]:
slist =['David',178.9,'John',173.5,'Jane',176.1]
print(slist)
slist.insert(4,"Petter")
slist.insert(5,168.1)
print(slist)

['David', 178.9, 'John', 173.5, 'Jane', 176.1]
['David', 178.9, 'John', 173.5, 'Petter', 168.1, 'Jane', 176.1]

##### 6.5 The remove Method for Deleting items from a List

In [53]:
n_list = [11,22,33,44,55,66]
print(n_list)
n_list.remove(44)
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

##### 6.6 Precautions when Using the remove Method for Deletion

In [54]:
n_list = [11,22,33,44,55,66]
print(n_list)
n_list.remove(88)
print(n_list)

[11, 22, 33, 44, 55, 66]

ValueError: list.remove(x): x not in list

In [56]:
bts = ['V','Jungkook','Jimin']
if 'Suga' in bts:
    bts.remove('Suga')
print(bts)

['V', 'Jungkook', 'Jimin']

##### 6.7 The pop Method for Deleting List items

In [57]:
n_list = [10,20,30]
print(n_list)

[10, 20, 30]

In [58]:
n = n_list.pop()
print('n =', n)
print('n_list =',n_list)

n = 30
n_list = [10, 20]

##### 6.8 Deleting List items Using the del keyword

In [59]:
n_list = [11,22,33,44,55,66]
print(n_list)
del n_list[3]
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

In [60]:
bts = ['V','Jungkook','Jimin']
del bts[0]
print(bts)

['Jungkook', 'Jimin']

In [61]:
bts[0].del

SyntaxError: invalid syntax (2599947177.py, line 1)

##### 6.9 The sort Method for sorting ist items

![alt](images/Lession%207/6.9.png)

In [63]:
list1 =[10,30,40,35,70]
list1.sort()
list1

[10, 30, 35, 40, 70]

In [64]:
list.sort(reverse= True)
print(list1)

TypeError: unbound method list.sort() needs an argument