# Week 2

## Monday : 05 / 02 / 2024 
Time : 8 AM - 5PM

### Lession 3 String Input and Output, Built-in Function Module
time start : 8 AM <br>
<br>
keyword of this lesson : String data type , string indexing ,string methods,Escape sequence, String formatting , String splitting ,input statment, build in function , build in modules

#### .Real world problem <br>
1.1 Overweight and social issues <br>
<br>
2.1 BMI Calculator

In [85]:
print("THE BMI Calculate Process ")
#Receive the name
name = input("Enter your name:")
#Receive the weight 
weight = int(input("Enter your weight :"))
# Receive the hight 
hight_cm = int(input("Enter your hight in cm :"))
# convert the hight 
hight_m = (hight_cm * 100)
#Calculate the BMI (formula : BMI = kg/m2)
BMI_result = (weight / (hight_m ** 2))
#print out the BMI result
print("Your information")
print(f"Name :{name}")
print(f"Weight:{weight}")
print(f"hight in cm:{hight_cm}")
print(f"high_m:{hight_m}")
print(f"Your BMI result is = {BMI_result}")

THE BMI Calculate Process
Your information
Name :Phem Dararaksmey
Weight:60
hight in cm:165
high_m:16500
Your BMI result is = 2.2038567493112948e-07

##### 1 string

In [19]:
print("Hello world")
print('Hello world')

Hello world
Hello world

##### 1.2 String and variable

In [20]:
String1 = 'Hello world'
print(String1)

Hello world

##### 1.3 Concatenation Operator and Repetition Operator

In [21]:
String1 = "Hello" 
String2 = "World"
String_combine = String1 + String2
print(String_combine)

HelloWorld

In [22]:
'Python' * 10

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [23]:
'*' * 50

'**************************************************'

In [24]:
str(100) * 10

'100100100100100100100100100100'

In [25]:
'*' * 3.1

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
'A' + 1

TypeError: can only concatenate str (not "int") to str

In [27]:
'A' + str(1)

'A1'

##### 1.4 String indexing

In [28]:
print(type("This is a string "))

<class 'str'>

In [29]:
"Hello"[0]

'H'

In [30]:
"Hello"[2]

'l'

In [32]:
"Hello"[-1]

'o'

In [33]:
"Hello"[-5]

'H'

In [34]:
"Hello"[5]

IndexError: string index out of range

##### 1.5 Muliting String

In [35]:
text = '''The first line 
the secon line '''
print(text)

The first line
the secon line

In [36]:
text="""the first line
the second line """
print(text)

the first line
the second line

##### 1.6 Wrring Quotes within String

In [37]:
text = '"double quotation marks"'
print(text)

"double quotation marks"

In [38]:
text = "'double quotation marks'"
print(text)

'double quotation marks'

In [40]:
text = "\"double quotation marks\""
print(text)

"double quotation marks"

In [42]:
text = '\'double quotation marks\''
print(text)

'double quotation marks'

##### 1.7 Escape sequence <br>
<br>
\n : Newline character<br>
<br>
\' : Single quoe<br>
<br>
\" : double quoe<br>
<br>
\t : tab character<br>

In [50]:
text = 'Write a \ttab in the midel of text '
print(text)

Write a 	tab in the midel of text

##### 1.8 String formatting<br>
<br>
string formating is a way to insert variables , value , and expression into a string 
<br>

In [53]:
Value1 = 1
Value2 = '2'
String_formating = ('first value {} and second value{}').format(Value1,Value2)
print(String_formating)

first value 1 and second value2

In [54]:
'Hello{}'.format('Python')

'HelloPython'

In [55]:
'first value {} and second value {}'.format(1,2)

'first value 1 and second value 2'

In [56]:
'{}+{} = {}'.format(1,2,1+2)

'1+2 = 3'

{} we can call it placeholder <br>
<br>
inside the placeholder u need to specify the order of integer value <br>
<br>
if no order is specified, it defaults to 0,1, etc.

In [57]:
'I like {} and {}'.format('Python','Java')

'I like Python and Java'

In [58]:
'I like {0} and {1}'.format('Python','Java')

'I like Python and Java'

In [59]:
'I like {1} and {0}'.format('Python','Java')

'I like Java and Python'

note: if uinsg {:} in the placeholder it's spacing between character

In [60]:
'{:10}'.format(123) #it spacing 10 space

'       123'

In [61]:
'{:10}'.format('Hello') #it spacing 10 space

'Hello     '

When specifying a filed width using a colon (:) inside the placeholder you can alow specify the alignment<br>
<br>
{:<10} :file width of 10, left alignment<br>
<br>
{:>10} :field width of 10, right alignment<br>
<br>
{:^10} :field width of 10 , center alignment<br>
<br>

In [62]:
Value = 123 
formatted_value ='{:10}'.format(Value)
print(formatted_value)
formatted_value ='{:<10}'.format(Value)
print(formatted_value)
formatted_value ='{:>10}'.format(Value)
print(formatted_value)
formatted_value ='{:^10}'.format(Value)
print(formatted_value)

       123
123
       123
   123

string is letf-aligned by default, leaving space on the right

In [63]:
Value = 'Hello'
formatted_value ='{:10}'.format(Value)
print(formatted_value)
formatted_value ='{:<10}'.format(Value)
print(formatted_value)
formatted_value ='{:>10}'.format(Value)
print(formatted_value)
formatted_value ='{:^10}'.format(Value)
print(formatted_value)

Hello
Hello
     Hello
  Hello

note:<br>
<br>
d inside the placeholder can recevie integer value <br>
<br>
f can recevie floating-point value and also integer too

In [64]:
Value = 123
formatted_value ='{:10f}'.format(Value)
print(formatted_value)
formatted_value ='{:<10f}'.format(Value)
print(formatted_value)
formatted_value ='{:>10f}'.format(Value)
print(formatted_value)
formatted_value ='{:^10f}'.format(Value)
print(formatted_value)

123.000000
123.000000
123.000000
123.000000

Note :<br>
<br>
adding a dot and a number in front of f, you can specify how many decimal places to display

In [68]:
Value = 123.5
formatted_value ='{:10.3f}'.format(Value)
print(formatted_value)
formatted_value ='{:<10.3f}'.format(Value)
print(formatted_value)
formatted_value ='{:>10.3f}'.format(Value)
print(formatted_value)
formatted_value ='{:^10.3f}'.format(Value)
print(formatted_value)

   123.500
123.500
   123.500
 123.500

##### 1.9 String spliting

In [69]:
'Python is beautiful'.split()

['Python', 'is', 'beautiful']

In [70]:
word1, word2,word3 = 'Python is beautiful'.split()
print(word1, word2, word3)

Python is beautiful

In [72]:
year ,month, day = '05.02.2024'.split('.')
print(year,month,day)

05 02 2024

note : <br>
<br>"isdigit" statement checks each character of the given string and returns Ture or False, indicating whether it consists only of numeric characters

In [75]:
String1='12345'
print(String1.isdigit())
String2="Hello"
print(String2.isdigit())
String3='3.14'
print(String3.isdigit())

True
False
False

In [76]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

#### 2.Writing input statement 
##### 2.1 Basic Usage of the input statment

In [77]:
name = input('Plase input your name')
print("hello",name)

hello Dararaksmey

##### 2.2Getting a number input from the user

In [79]:
x = int(input("Enter the first integer"))
y = int(input("Enter the second iteger"))
s = x + y 
print(f"{x} and {y} sum up to {s}")

10 and 20 sum up to 30

In [86]:
weight = float(input("Enter your weight in kilograms(kg)"))
high = float(input("Enter your hgiht in meters(m)"))

bmi = (weight / (high ** 2))
print("Your BMI =" , bmi)

Your BMI = 22.857142857142858

##### 2.3 Spliting and input string from the user

In [87]:
number1,number2,number3 = input('Enter three integer sparate by space').split()
print(number1,number2,number3)

1 2 3

##### 2.4 Writing input satements with string formatting

In [88]:
number = 1 
text = 'name'
name = input('Q{}. Plase enter your{}:'.format(number , text))
print(name)

Emcast

##### 2.5 Change Calculator program

In [89]:
money = int(input("Your input Money :"))
price = int(input("Price of goods: "))

change = money - price
print("Change:", change)
coin500s = change // 500
change = change % 500 
coin100s = change // 100

print("The number of 500 won coins:", coin500s)
print("The number of 100 won coins:",coin100s)

Change: 4700
The number of 500 won coins: 9
The number of 100 won coins: 2

#### 3.String and output 
##### 3.1The print statement and commas

In [92]:
print('I am ', 23 ,'year olds!')
print('I','really '  * 3 ,'love','python!')

I am  23 year olds!
I really really really  love python!

##### 3.2The print statemetn and the end parameter

In [93]:
print('Hello',end = '')
print('World!')

HelloWorld!

In [95]:
print(1,end ='')
print(2)

12

In [96]:
print('Hello',end = ',')
print('World!')

Hello,World!

In [97]:
print('Hello',end = ' ')
print('World!')

Hello World!

##### 3.3Print statment and separator

In [98]:
print("Hello", "world", sep=',')

Hello,world

##### 3.4Output Using String Formatting

In [101]:
name = input("Enter your name:")
age = input("Enter your age:")
job = input("Enter your job")

print('Your name is {},and {} year old m job is{}'.format(name,age,job))

Your name is Phem Dararaksmey,and 22 year old m job isStudent

#### 5 Built-in Function

In [106]:
String1 = "Foo"
len(String1) # the len function is return the length of string stored in the variables

3

In [107]:
type(String1) # return the type of variable

str

In [104]:
id(String1) # The id function returns the identity of the variable string that sotres the string " Foo"

4363979120

In [108]:
eval("100  + 200 + 300") # the eval function takse a sring , evaluates the contents of the string as an expression and return the evaluated value

600

In [112]:
abs(-100) # the abs function take the integer -100 as input and returns its absoulte value 100

100

In [110]:
min(20,10,30,40)

10

In [111]:
max(200,100,300,400)

400

In [113]:
sorted("EABFD")

['A', 'B', 'D', 'E', 'F']

In [114]:
sorted("EABFD",reverse=True)

['F', 'E', 'D', 'B', 'A']

methods cannot be called independently becasue it's belong to specific object.

#### 6.Built-in Modules

In [116]:
print("Enter your information:")
id = input("Enter your id:")
name = input("Enter your name")
age = int(input("Age : "))

print("Here is your information")
print('Your name is ',name)
print("your employee id is :", id)
print("And your age is : ", age)

Enter your information:
Here is your information
Your name is  Smey
your employee id is : id = 1
And your age is :  22

In [122]:
a = int(input("Enter the value of a :"))
b = int(input("Enter the value of b :"))

total = a + b #opeartion 

print(f"The total of {a} +  {b} = {total}")

The total of 20 +  20 = 40

##### 6.1

In [124]:
import datetime as dt
start_time = dt.datetime.now()
start_time.replace(month=12,day=25)

datetime.datetime(2024, 12, 25, 13, 15, 20, 334934)

Note : from-import statment is a way to import only what is needed from a module

In [129]:
from datetime import datetime 
start_time = datetime.now()
start_time.replace(month=12,day=25)

datetime.datetime(2024, 12, 25, 13, 24, 32, 66548)

##### 6.2  The Dateime Module for Receiving and Maniplulating Dates and time

In [137]:
Today = datetime.today()
print(Today)

2024-02-05 13:26:46.696511

In [138]:
Today

datetime.datetime(2024, 2, 5, 13, 26, 46, 696511)

In [139]:
Today.year

2024

In [140]:
Today.month

2

Use the dir function to print the functions and variables that the module has

In [149]:
print(dir(datetime),sep=",")

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

##### 6.3 The time module<br>
<br>
The following code indicates the elasped time in seconds since the eoicg time(january 1, 1970, 0:00:00)

In [151]:
import time 
second = time.time()
print('Time after epoch = ',second)

Time after epoch =  1707114746.3860009

6.3 The time module<br>
<br>
localtime method of the ime modeuls <br>
<br>
The localtime method takes and epoch time value and returns the local time as a date and time format

In [153]:
import time 
unix_timestamp = time.time()
local_time = time.localtime(unix_timestamp)
local_time

time.struct_time(tm_year=2024, tm_mon=2, tm_mday=5, tm_hour=13, tm_min=33, tm_sec=16, tm_wday=0, tm_yday=36, tm_isdst=0)

6.3 The time module<br>
<br>
The strftime method allows us to format the time obtanined from localtime according to the desired date/time format

Note :<br>
<br>
%y = year %m = month %d = day %H = Hour %M= Minet %S = second <br>
<br>
for %y-%m-%d %H-%M-%S "-" it's use to put the - between the year month and day

In [155]:
import time 
unix_timestamp = time.time()
local_time = time.localtime(unix_timestamp)
print(time.strftime('%y-%m-%d %H-%M-%S',local_time))

24-02-05 13-41-46

##### 6.4 The Math Module <br>
<br>
The math module allow us ti use mathematical functions <br>
<br>
math module
    it include mathmatical functions like sin,con,tan,log,pow,ceild,floor,trunc,fabs, and copysign(x,y)

In [157]:
import math
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [158]:
import math as m 
m.pow(3,3)

27.0

In [159]:
m.fabs(-99)

99.0

In [160]:
m.ceil(2.1)

3

In [161]:
m.ceil(-2.1)

-2

In [162]:
m.floor(2.1)

2

In [163]:
m.log(2.71828)

0.999999327347282

In [164]:
m.log(100,10)

2.0

In [165]:
m.sin(0.0)

0.0

In [166]:
m.sin(90.0)

0.8939966636005579

In [167]:
m.sin(m.pi / 2)

1.0

##### The random module

In [168]:
import random as rd 
print(rd.random())
print(rd.random())
print(rd.randrange(1,7))
print(rd.randrange(0,10,2))
print(rd.randint(1,10))

0.3274829434918505
0.10726370306529054
1
2
6

##### The shuffle() : Return sequence with its elements shuffled in a differnet order each time

In [169]:
numlist = [10,20,30,40,50]

rd.shuffle(numlist)
print(numlist)

[50, 30, 20, 40, 10]

In [170]:
a = list(range(1,11))
rd.shuffle(a)
print(a)

[5, 8, 3, 2, 10, 9, 6, 1, 7, 4]

##### choice() : Extracts a randowm element from the give sequence

In [171]:
print(rd.choice(numlist))

10

##### sample(): Return elements randomly. The number of element to be returned can be specified as an argument

In [172]:
print(rd.sample(numlist,3))

[10, 40, 50]

In [174]:
a = list(range(1,11))
b= rd.sample(a,3)
print(b)

[8, 5, 1]

#### Paper code

#### Let code the mission

##### Q1

![alt text](images/Lession%203/Paper%20coding%20Q1.png)

##### Q2 
![alt text](images/Lession%203/Paper%20coding%20Q2.png)

##### Mission
BMI Calculator <br>
1. Calculate and ouput the BMI(Body Mass index) by obtaining the user's name height and weight
2. BMI is calculate by dividing on's weight by the square of their height and the formulat is kg/m2

![alt text](images/Lession%203/Mission.png)

In [181]:
# Setp one obtaning the user's name hight and weight 
name = input("Enter your name :")
hight = int(input("Enter your hight in cm :"))
#convert it to m
high_m = hight/ 100
weight = int(input("Enter your weight in kg :"))
# Setp two calculate the BMI (formulat is weigt / hgiht ** 2)
BMI = (weight/(high_m ** 2))
print("Your BMI is ",BMI)

Your BMI is  22.03856749311295

#### Pairs programming

##### Q1 Receive a radius value from the user and ouput the circumference and rea of a circle with that radius as follows <br>
To calculate these values use the variable PI = 3.141592

![alt text](images/Lession%203/Pair%20programming%20Q1.png)

In [182]:
# Setp one receive the radius value from user 
radius = int(input("Enter the radius :"))
# Setp two define variable PI = 3.141592
PI = 3.141592
# Setp three calculate circumference and the area
circumference_result = 2 * PI * radius
Area_result = PI * radius *radius
# Setp four output the result of circumference and area of a circle 
print("Circumerence of the circle = ",circumference_result)
print("Area of the circle = ", Area_result)

Circumerence of the circle =  69.115024
Area of the circle =  380.13263200000006

#### Q2 Write code in square_table.py to display a table of squared values from 2 to 6

![alt text](images/Lession%203/Pair%20programming%20Q2.png)

In [195]:
#Using math module 
import math as m 

# define n = 2
n = 2 
a = {}
for number in range(2,7):
    print(number ** n)

4
9
16
25
36

###### Q3 Lets store your name and address in variable named = "name" amd "address" and then display them

![alt text](images/Lession%203/pair%20programm%20q3.png)

In [1]:
#sotre name and adress in variable name
name ="Phem Dararaksmey"
address ="Phnom Penh"
print(name)
print(address)

Phem Dararaksmey
Phnom Penh

## Tuesday : 06/ 02/ 2024
### Lession 4 : Boolean expression 
<br>
learning object : bool data type , comparison operator , logic operator , identity operator, membership operator , operator precedence

#### 1.Mission

Leap Year Calculator Operation Process 
formulate :

bool data type consists of True and False which represent true and false resoctively

In [5]:
# Data of non-bool type can be also be converted to bool type 
print(bool(1))
print(bool(0))
print(bool(''))
print(bool(None))

True
False
False
False

#### 2.Comparison Operators 
##### 2.1What is the Comparison Operator? <br>
<br>
<b>Comparison Operators </b> is compares two operands, and return True or Flase as the result

In [1]:
print("Result of 10 > 5 :", 10 > 5)
print("Result of a > b :", 'a' > 'b')
print("Result of 5 < 1 :", 5 < 1)
print("Result of 5 == 5 :", 5 == 5)
print("Result of 5 != 5 :", 5 != 5)

Result of 10 > 5 : True
Result of a > b : False
Result of 5 < 1 : False
Result of 5 == 5 : True
Result of 5 != 5 : False

##### 2.2Numeric Type and Comparison Operator

In [2]:
a = 100 
b = 200 
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a >= b)
print(a <= b)

False
True
True
False
False
True

In [3]:
n = int(input("Enter an integer "))
print("Is this an even number ", n % 2  == 0)

Is this an even number  True

Python allows the use of more than onc comparison operator

In [4]:
n = 100 
print('n =', n)
print(0 < n < 200)

n = 100
True

##### 2.3String and Comparison Operator <br>
<br>
The == operator for strings return Ture only if the two string are exactly the same

In [6]:
print('aaa' == 'aaa')
print('bbb' == 'aaa')

True
False

The != operator for strings returns True if the two strings are not exactly the same

In [7]:
print('aaa' != 'aaa')
print('bbb' != 'aaa')

False
True

##### 2.4Precaitopms when using Comparison Operator

In [9]:
number1 = 100
number2 = 200
number1 =< number2

SyntaxError: invalid syntax (171220688.py, line 3)

####  3 Logical Operators 
##### 3.1 What is a Logical Operator ?<br>
<br>
<b> Logical operators</b> evaluate logical expressions and return True or False

In [10]:
x = True
y =False 
print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

##### 3.1 Logical Operation <br>
<br>
<b>Logical Operation</b>combine bol value to create a new bool value

In [13]:
num = int(input("Enter integer"))
result = num >= 0 and num <= 100 and num % 2 == 0
print('Is this integer an even number within the range of 0 to 100 ?' ,result)

Is this integer an even number within the range of 0 to 100 ? False

##### 3.2Logical Opeartion and Parentheses

In [14]:
num = 2023 
(num % 4 == 0 and num % 100 != 0) or num % 400 == 0

False

#### 4.Identity Operators 
##### 4.1The difference between the 'is' operator and the == Operator <br>
<br>
The 'is' Operator compares the identity of the objects by comparing their identifiers and return True of False indicating whether the tow variable refer to the same object

In [15]:
a = 1
b = 1.0
print(a == b)
print(a is b)

True
False

#### 5.Membership Operators 
The 'in' Operator determines whether the left value is present in the right data and returns True or False

In [17]:
print('aaa' in 'aaa-bbb-ccc')
print('bbb' in 'aaa-bbb-ccc')
print('ddd' in 'aaa-bbb-ccc')

True
True
False

#### 6.Order of operation

In [18]:
x = int(input("Enter the first number :"))
y = int(input("Enter the second number :"))
z = int(input("Enter the third numbr:"))

avg = (x + y + z) / 3
print("Average = ", avg)

Average =  20.0

#### Paper Coding

##### Write a code that receives that value of n throught the user's keyword <br>
input and print True if the given integer n is odd and false if it is even

![alt text](images/Lession%204/paper%20code%20Q1.png)

In [21]:
n = int(input("Enter number :"))
result = n >= 0 and n % 2 != 0
print("Enter an integer : ", n)
print("is this number odd ?",result)

Enter an integer :  21
is this number odd ? True

##### Q2 Write a code that determines whether the integer value n received from the user is an even number within the range of o to 10.

![alt text](images/Lession%204/paird%20programm%20q2.png)

In [22]:
n = int(input("Enter number"))
result = n >= 0 and n <= 10 and n % 2 == 0
print("Enter an integer :", n)
print("Is the entered integer an even number within the range of 0 to 10 ? :" , result)

Enter an integer : 12
Is the entered integer an even number within the range of 0 to 10 ? : False

#### Let Code 
##### Mission leap year

![alt text](images/Lession%204/Mission.png)

In [26]:
#setp one take input form user
year = int(input("Enter number of year "))
#determine if it true or false by using the 
leap_year = (year > 0 and year % 4 == 0 and year % 100 != 0 ) or year % 400 == 0 
#print the leap year 
print("The user's input year : ", year)
print("The user's input year is a leap year ? : ", leap_year)

The user's input year :  300
The user's input year is a leap year ? :  False

#### Pair Programming 
##### Q1. Plase input a three-digit integer from the user if the hundreds digit of the input teger n is 3 <br>
output Ture ,otherwies output flase

![alt text](images/Lession%204/paird%20programm%20Q1%20(1).png)

In [31]:
three_digit = int(input("Enter three digit integer :"))
result = (three_digit > 0 and three_digit // 100 ) % 3 == 0
print("Enter an integer",three_digit)
print(result)

Enter an integer 321
True

##### Q2 input a signle integer and output True if it is a multiple of 5 otherwise output false

![alt text](images/Lession%204/paird%20programm%20q2.png)

In [32]:
Single_integer = int(input("Enter an integer :"))
result = (Single_integer > 0 and Single_integer % 5 == 0)
print("Enter an integer :", Single_integer)
print(result)

Enter an integer : 125
True

In [34]:
print(bool('string'))
print(bool(-1))

True
True

In [36]:
a = 2 
b = 2.0
c = a == b 
print(c)

True

In [1]:
a = 2 
b = 2

### Lession 5 Conditional Statement-1: Condition and Decision Making

#### 1.Programming with different flows depending on conditions

There are three type of contro satement :<br>
 1.Conditional stament <br>
 2.Loop statement <br>
 3.Flow-altering command<br>

##### 1.2The need for conditional selective flow 
<br> Why do we need conditional statements 
 <br> if there is more than one possible path to processd, we need to decide whic path to choose<br>
 <br> without selection structures, we cannot determine which path to choose resulting in the program always a signle path

#### 2.2if statment syntax

In [3]:
#situaltion 1 
# if the age is under 20,output 'Youth discount '
age = 18
if age<20:
    print("Youth discount")

Youth discount

In [10]:
#situaltion 2 
# if the step count is over 1000 output 'Goal achiveved'
walk_count= int(input("How many step you done to day"))
if walk_count >= 1000:
    print("Achieved the goal")

How many step you done to day1000
Achieved the goal

#### 2.3Blocks and Python's indentation

In [11]:
age = 18 
if age < 20:
print('youth discount')

IndentationError: expected an indented block after 'if' statement on line 2 (1810150639.py, line 3)

Note : Python is a programming language where indentation holds significant importance.
<br> Different results are produced based on the indentation

In [13]:
age = 24 
print('Age :', age)
if age < 20:
    print('Youth age')
    print('Youth discount')
print('Welcome')

Age : 24
Welcome

In [14]:
age = 24 
print('Age :', age)
if age < 20:
    print('Youth age')
print('Youth discount')
print('Welcome')

Age : 24
Youth discount
Welcome

##### 2.4The pass keyword
<br> The pass statement in python is used to skip the code within a block
<br> It is primaryily used when you want to write the code later because the precise processibgdetails are not yet available

In [15]:
age = 18 
if age <20 :
    pass

#### 3Various Conditional Statement Examples 
##### 3.1Checking for value equality

In [20]:
my_id = 'david'
s = input("Enter your id :")
if s == my_id:
    print('ID match :')

Enter your id :david
ID match :

##### 3.2Checking for multiples of 3

In [22]:
number = int(input("Enter an integer :"))
if (number % 3 ) == 0 :
        print(number,"is a multiple of 3")

Enter an integer :6
6 is a multiple of 3

##### 3.3checking for multiples of 3 and 5 imulanously

In [25]:
number = int(input("Enter an integer :"))
if (number % 3 ) == 0 and (number % 5)== 0 :
        print(number,"is a multiple of 3 and 5")

Enter an integer :15
15 is a multiple of 3 and 5

##### 3.4Checking for even number

In [26]:
n = int(input("Enter an integer :"))
print("n = ", n)
if n % 2 == 0:
    print(n, "is an even number")

Enter an integer :50
n =  50
50 is an even number

##### 3.5Checking for string equlity

In [27]:
String1='aaa'
String2='bbb'
if(String1 == String2):
    print("The two string are the same")
if(String1 != String2):
    print("The two string are not the same")

The two string are not the same

##### 3.6Determining pass or fail based on score

In [28]:
score = int(input("Enter your scoure : "))
if score >= 90:
    print("Congratulations.")
    print("You passed.")
    print("You can also get a scholarship")

Enter your scoure : 90
Congratulations.
You passed.
You can also get a scholarship

##### 3.7Example using logical operator 
<br>when you combine comparison operators and logical operators. This is called "logical operation"

In [30]:
a = 10
b = 14
if (a%2 == 0) and (b % 2 == 0):
    print("both numbers are even numbers")
if (a % 2 == 0) or (b % 2 == 0):
    print("One or more of the two numbers are even")

both numbers are even numbers
One or more of the two numbers are even

In [31]:
a = 10
b = 13
if (a%2 == 0) and (b % 2 == 0):
    print("both numbers are even numbers")
if (a % 2 == 0) or (b % 2 == 0):
    print("One or more of the two numbers are even")

One or more of the two numbers are even

#### Paper Code

##### Q1.if the game score of game user is 1000 or more , print("you are a pro")

write the entircode and the expected output result on the note <br>

![alt text](images/Lession%205/paper%20code%20Q1.png)

In [37]:
game_score = int(input("Enter game_score :"))
if game_score >= 1000:
    print("Your are a pro")
else:
    print("Your game score = ",game_score,"you still need score about ", 1000 - game_score,"more to be a pro")

Enter game_score :100
Your game score =  100 you still need score about  900 more to be a pro

##### Q2.Write a program that takes a random integer x between -100 and 100 and performs the following taksk
<br>1 print x on the screen
<br>2 if x is a positive integer and print is a natural number

![alt text](images/Lession%205/paper%20code%202.png)

In [41]:
import random 
#generation x random number for -100 to 100
x = random.randint(-100 , 100)

if 0 < x <= 100:
    print(f"{x} is a natural number.")
else:
    print("the number of x = ", x)
i0

69 is a natural number.

#### Mission : Lottery Winning Simulation

![alt text](images/Lession%205/Mission.png)

In [53]:
# step one initialize 
n1 = 2
n2 = 3
n3 = 9
# step two initialize n as 0 
n = 0 
# setp three take input a ,b ,c as number (int)
a = int(input("Enter three number a : "))
b = int(input("Enter three number b : "))
c = int(input("Enter three number c : "))
#if n match one of 2,3,9
if (a == n1 or a == n2 or a == n3):
    n+=1
    if (b== n1 or b == n2 or b == n3):
        n+=1
        if(c == n1 or c == n2 or c == n3):
            n+= 1
if n == 3 :
    print("you won ")
else:
    print("you lose")

Enter three number a : 2
Enter three number b : 3
Enter three number c : 9
you won

In [54]:
# step one initialize 
n1 = 2
n2 = 3
n3 = 9
# step two initialize n as 0 
n = 0 
# setp three take input a ,b ,c as number (int)
a = int(input("Enter three number a : "))
b = int(input("Enter three number b : "))
c = int(input("Enter three number c : "))
#if n match one of 2,3,9
if (a == n1 or a == n2 or a == n3):
    n+=1
    if (b== n1 or b == n2 or b == n3):
        n+=1
        if(c == n1 or c == n2 or c == n3):
            n+= 1
if n == 3 :
    print("you won ")
else:
    print("you lose")

Enter three number a : 9
Enter three number b : 3
Enter three number c : 2
you won

#### Piar Programming

##### Q1  
Write code what prompts the user to enter their age and prints "Adult" if the age is 20 or above ,"Youth" if the age is 10 or above <br>
but less than 20 and "kid" if the age is below 10


![alt text](images/Lession%205/Lession%205%20Pair%20Q1.png)

In [5]:
#write code

True

##### Q2

![alt text](images/Lession%205/Lession%205%20Pair%20Q2.png)